<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error!</title>
    <%- include('./header.ejs') %>
  </head>
  <h1 class="text-uppercase fw-bold my-3">Well...</h1>
  <div class="container"><% if(error!=undefined) %></div>
</html>
