* {
  font-family: 'Source Code Pro', monospace !important;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
body {
  background-color: #d3d3d3;
}
.main-page img {
  height: 250px;
  width: auto;
  max-width: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(53, 53, 53);
}
.main-page img:hover {
  box-shadow: 10px 10px 10px rgb(53, 53, 53);
}
.single-view img {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(53, 53, 53);
}
